= render :partial => "admin/shared/map"
= javascript_include_tag :impounds
:javascript
  $(function(){
      var action = "#{action}"
      if(action == "edit"){
        initialize_edit_form();
      } else {
        initialize_view_form();
      }
  });


:css
  #impound_center_text_input{display:none;}
  
