= link_to "Добавить", new_admin_movie_session_path(:movie_id => resource.id ), :style => "padding:5px;margin:5px;float:right;"
%table
  %tr
    %th begin_at
    %th finish_at
  - resource.movie_sessions.each do |f|
    %tr
      %td= f.begin_at.strftime("%d/%m/%Y %H:%M")
      %td= f.finish_at.strftime("%d/%m/%Y %H:%M")
      %td=link_to "Посмотреть", admin_movie_session_path(f)
      %td=link_to "Редактировать", edit_admin_movie_session_path(f)
      %td=link_to "Удалить", admin_movie_session_path(f), method: :delete, data: { confirm: "Удалить?"}
