= form_for Hall.new(:cinema_id => resource.id), url: admin_halls_path do |f|
  = f.hidden_field :cinema_id
  = f.text_field :name , placeholder: "Зал №..."
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name

  - resource.halls.each do |f|
    %tr
      %td= f.name
      %td=link_to "Посмотреть", admin_hall_path(f)
      %td=link_to "Удалить", admin_hall_path(f), method: :delete, data: { confirm: "Удалить?"}
