= link_to "Добавить", new_admin_movie_path(:hall_id => resource.id, :cinema_id => resource.cinema_id ), :style => "padding:5px;margin:5px;float:right;"
%table
  %tr
    %th foto
    %th name
  - resource.movies.each do |f|
    %tr
      %td=image_tag f.file_url, :width => 250
      %td= f.name
      %td=link_to "Посмотреть", admin_movie_path(f)
      %td=link_to "Редактировать", edit_admin_movie_path(f)
      %td=link_to "Удалить", admin_movie_path(f), method: :delete, data: { confirm: "Удалить?"}
