- if @text
  .text-block-name{:align => "center"}
    %h2{:style => "margin-bottom:0;"}=raw @text.name
  .text-block-body{:style => "padding:30px;"}
    =raw @text.body
- else
  .text-block-name{:align => "center"}
    Текстовый блок не создан