
= form_for AdGroupLink.new(:ad_id => resource.id), url: admin_ad_group_links_path do |f|
  = f.hidden_field :ad_id
  = f.select :ad_group_id , AdGroup.all.map{|a| [a.name , a.id]}
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
  - resource.ad_group_links.each do |f|

    %tr
      %td=f.ad_group.name

      %td=link_to "Удалить", admin_ad_group_link_path(f), method: :delete, data: { confirm: "Удалить?"}
