= form_for AtmGroupLink.new(:atm_id => resource.id), url: admin_atm_group_links_path do |f|
  = f.hidden_field :atm_id
  = f.select :atm_group_id , AtmGroup.all.map{|a| [a.name , a.id]}
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
  - resource.atm_group_links.each do |f|

    %tr
      %td=f.atm_group.name

      %td=link_to "Удалить", admin_atm_group_link_path(f), method: :delete, data: { confirm: "Удалить?"}
