= form_for CompanyGroupLink.new(:company_id => resource.id), url: admin_company_group_links_path do |f|
  = f.hidden_field :company_id
  = f.select :company_group_id , CompanyGroup.all.map{|a| [a.name , a.id]}
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
  - resource.company_group_links.each do |f|

    %tr
      %td=f.company_group.name

      %td=link_to "Удалить", admin_company_group_link_path(f), method: :delete, data: { confirm: "Удалить?"}
