= form_for EventGroupLink.new(:event_id => resource.id), url: admin_event_group_links_path do |f|
  = f.hidden_field :event_id
  = f.select :event_group_id , EventGroup.all.map{|a| [a.name , a.id]}
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
  - resource.event_group_links.each do |f|

    %tr
      %td=f.event_group.name

      %td=link_to "Удалить", admin_event_group_link_path(f), method: :delete, data: { confirm: "Удалить?"}
