= link_to "Добавить", new_admin_food_item_path(:food_kind_id => resource.id ), :style => "padding:5px;margin:5px;float:right;"
%table
  %tr
    %th name
  - resource.food_items.each do |f|
    %tr
      %td= f.name
      %td=link_to "Посмотреть", admin_food_item_path(f)
      %td=link_to "Редактировать", edit_admin_food_item_path(f)
      %td=link_to "Удалить", admin_food_item_path(f), method: :delete, data: { confirm: "Удалить?"}
