= form_for FoodGroupLink.new(:food_id => resource.id), url: admin_food_group_links_path do |f|
  = f.hidden_field :food_id
  = f.select :food_group_id , FoodGroup.all.map{|a| [a.name , a.id]}
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
  - resource.food_group_links.each do |f|

    %tr
      %td=f.food_group.name

      %td=link_to "Удалить", admin_food_group_link_path(f), method: :delete, data: { confirm: "Удалить?"}
