= form_for FoodKind.new(:food_id => resource.id), url: admin_food_kinds_path do |f|
  = f.hidden_field :food_id
  = f.text_field :name , placeholder: "Введите название услуги"
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
    %th the amount of food
  - resource.food_kinds.each do |f|
    %tr
      %td= f.name
      %td= f.food_items.count
      %td=link_to "Посмотреть", admin_food_kind_path(f)
      %td=link_to "Удалить", admin_food_kind_path(f), method: :delete, data: { confirm: "Удалить?"}
