= form_for ForumGroupLink.new(:forum_id => resource.id), url: admin_forum_group_links_path do |f|
  = f.hidden_field :forum_id
  = f.select :forum_group_id , ForumGroup.all.map{|a| [a.name , a.id]}
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
  - resource.forum_group_links.each do |f|

    %tr
      %td=f.forum_group.name

      %td=link_to "Удалить", admin_forum_group_link_path(f), method: :delete, data: { confirm: "Удалить?"}
