= form_for LifestyleGroupLink.new(:lifestyle_id => resource.id), url: admin_lifestyle_group_links_path do |f|
  = f.hidden_field :lifestyle_id
  = f.select :lifestyle_group_id , LifestyleGroup.all.map{|a| [a.name , a.id]}
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
  - resource.lifestyle_group_links.each do |f|

    %tr
      %td=f.lifestyle_group.name

      %td=link_to "Удалить", admin_lifestyle_group_link_path(f), method: :delete, data: { confirm: "Удалить?"}
