%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing&key=AIzaSyCVH5JeUOWIHyRcozXXJJdGFS7T8rnOjTw"}
:javascript
  google.maps.Polygon.prototype.getBounds = function() {
      var bounds = new google.maps.LatLngBounds();
      var paths = this.getPaths();
      var path;        
      for (var i = 0; i < paths.getLength(); i++) {
          path = paths.getAt(i);
          for (var ii = 0; ii < path.getLength(); ii++) {
              bounds.extend(path.getAt(ii));
          }
      }
      return bounds;
  }


= javascript_include_tag :map_tools
= stylesheet_link_tag :map_tools
%div{"data-role" => "page"}
  #map-canvas