
= form_for MediaAsset.new(:mediable_id => resource.id, :mediable_type => resource.class.to_s) , url: admin_media_assets_path do |f|
  = f.hidden_field :mediable_id
  = f.hidden_field :mediable_type
  = f.file_field :file
  = f.select :kind ,  (resource.try(:media_assets_kinds) || %w(common)).map{|a| [I18n.t("#{a}"),a]}
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th Картинка
    %th Категория
  - resource.media_assets.each do |f|
    %tr
      %td=image_tag f.file_url, :width => 250
      %td=I18n.t("#{f.kind}")
      %td=link_to "Удалить", admin_media_asset_path(f), method: :delete, data: { confirm: "Удалить?"}
