%table
  %tr
    %th food name
    %th the amount of food
  - resource.purchase_good_links.each do |f|
    %tr
      %td= f.food_item.name
      %td= f.amount
      %td=link_to "Посмотреть", admin_food_kind_path(f)
      %td=link_to "Удалить", admin_food_kind_path(f), method: :delete, data: { confirm: "Удалить?"}
