= form_for RecreationGroupLink.new(:recreation_id => resource.id), url: admin_recreation_group_links_path do |f|
  = f.hidden_field :recreation_id
  = f.select :recreation_group_id , RecreationGroup.all.map{|a| [a.name , a.id]}
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
  - resource.recreation_group_links.each do |f|

    %tr
      %td=f.recreation_group.name

      %td=link_to "Удалить", admin_recreation_group_link_path(f), method: :delete, data: { confirm: "Удалить?"}
