= form_for Service.new(:serviceable_id => resource.id, :serviceable_type => resource.class.to_s) , url: admin_services_path do |f|
  = f.hidden_field :serviceable_id
  = f.hidden_field :serviceable_type
  = f.text_field :name , placeholder: "Введите название услуги"
  = f.submit "Добавить", :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th name
  - resource.services.each do |f|
    %tr
      %td= f.name
      %td=link_to "Удалить", admin_service_path(f), method: :delete, data: { confirm: "Удалить?"}
