
= link_to "Добавить", new_admin_staff_path(:staffable_type => resource.class.to_s, :staffable_id => resource.id), :style => "padding:5px;margin:5px;float:right;"

%table
  %tr
    %th Фотография
    %th Имя
    %th Фамилия
    %th Профессия
  - resource.staffs.each do |f|

    %tr
      %td=image_tag f.media_assets.first.try(:file_url), :width => 50
      %td=f.name
      %td=f.surname
      %td=f.profession.name
      

      %td=link_to "Удалить", admin_staff_path(f), method: :delete, data: { confirm: "Удалить?"}
